body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.parallax {
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.parallax-text {
    text-align: center;
}

.textcontent {
    color: white;
    text-align: center;
    padding: 100px 20px;
    background-color: rgb(0, 0, 0);
}

#first {
    background-image: url('https://img.freepik.com/free-photo/sleepy-domestic-cat-sofa_1303-21745.jpg?t=st=1738814441~exp=1738818041~hmac=195f7949fb9e73045811fe336c44be3b87ebded7bd3283ea389fd2bb9d14eae5&w=1380   ');
}

#second {
    background-image: url('https://img.freepik.com/free-photo/close-up-pet-lifestyle_23-2149180526.jpg?t=st=1738815113~exp=1738818713~hmac=799d07cc6ed78b89c39870768515c355e81e52bd57247ab6080ede6f96861ca6&w=1380');
}